Source: ubuntu-mate-colours
Section: x11
Priority: optional
Maintainer: Luke Horwell <luke@ubuntu-mate.org>
Build-Depends: debhelper (>= 9),
               python3 (>= 3.4.0),
               librsvg2-bin,
               imagemagick,
               ubuntu-mate-themes,
               ubuntu-mate-icon-themes
Homepage: https://github.com/lah7/ubuntu-mate-colours

Package: ubuntu-mate-colours-generator
Architecture: all
Depends: python3 (>= 3.4.0),
         librsvg2-bin,
         imagemagick
Recommends: ubuntu-mate-themes,
          ubuntu-mate-icon-themes
Description: Utility to recolour Ubuntu MATE Themes
 A utiliy to generate Ambiant-MATE, Ambiant-MATE-Dark and
 Radiant-MATE themes from source that use a specific colour.

Package: ubuntu-mate-colours-all
Architecture: all
Depends: ubuntu-mate-colours-generator,
         ubuntu-mate-colours-aqua,
         ubuntu-mate-colours-blue,
         ubuntu-mate-colours-brown,
         ubuntu-mate-colours-orange,
         ubuntu-mate-colours-pink,
         ubuntu-mate-colours-purple,
         ubuntu-mate-colours-red,
         ubuntu-mate-colours-teal,
         ubuntu-mate-colours-yellow
Description: Complete collection of Ubuntu MATE variants
 Contains all the colour versions of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-aqua
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Aqua variant of Ambiant/Radiant-MATE themes
 Contains an aqua coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-blue
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Blue variant Ambiant/Radiant-MATE themes
 Contains a blue coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-brown
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Brown variant Ambiant/Radiant-MATE themes
 Contains a brown coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-orange
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Orange variant Ambiant/Radiant-MATE themes
 Contains an orange coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-pink
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Pink variant Ambiant/Radiant-MATE themes
 Contains a pink coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-purple
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Purple variant Ambiant/Radiant-MATE themes
 Contains a purple coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-red
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Red variant Ambiant/Radiant-MATE themes
 Contains a red coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-teal
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Teal variant Ambiant/Radiant-MATE themes
 Contains a teal coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.

Package: ubuntu-mate-colours-yellow
Architecture: all
Depends: gtk-update-icon-cache,
         ubuntu-mate-themes,
         ubuntu-mate-icon-themes
Description: Yellow variant Ambiant/Radiant-MATE themes
 Contains a yellow coloured version of Ambiant-MATE, Ambiant-MATE-Dark
 and Radiant-MATE theme and icons.
